/* --------------------
   Google Font Poppins
   ------------------ */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* -----------------
   Universal Style
   --------------- */

* {
  margin: 0;
  padding: 0;
}

/* ----------------------
        Common Style 
   ---------------------*/
body {
  font-family: "Poppins", sans-serif;
  clear: both;
}

/* ----------------------------
           header style
   -------------------------- */

.header-container {
  display: flex;
  gap: 24px;
  background: #010c20;
  border-radius: 30px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 0;
}
.banner {
  width: 40%;
  margin: auto;
  padding-bottom: 0;
}
.header-title h1 {
  font-size: 60px;
  color: #ffffff;
}
.header-title p {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 30px;
}
.header-btn {
  padding: 16px 25px;
  text-decoration: none;
  color: #ffffff;
  background: #dd0000;
  border-radius: 5px;
  font-size: 24px;
}
.icon {
  font-size: 16px;
  padding-left: 10px;
}
.right-image {
  padding-bottom: 0;
  margin-bottom: 0;
}
.right-image img {
  width: 90%;
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
}

/* ------------------------
     side navigation style 
   -----------------------*/

.blog-section {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 100px;
}
.side-container {
  background-color: #020f1f;
  border-radius: 10px;
  width: 312px;
  height: 280px;
  margin-left: 30px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav button {
  margin-top: 20px;
  width: 252px;
  height: 64px;
  background: #ffffff;
  border-radius: 10px;
  /* margin: auto;   */
}
nav button a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #020f1f;
}
#blog-btn {
  background: #dd0000;
}
#blog-btn a {
  color: #ffffff;
}

/* ---------------------------------
     right-side-area for index.html 
   ---------------------------------*/

.right-side-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 24px;
  margin-bottom: 100px;
}
.blogs {
  width: 312px;
  height: 362px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.blog-banner img {
  width: 100%;
  height: 175px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-btn {
  font-size: 16px;
  color: #020f1f;
  border: 1px solid #020f1f;
  border-radius: 5px;
  padding: 5px 16px;
  margin-left: 15px;
  margin-top: 15px;
}
.blog-title {
  margin: 15px;
  font-size: 18px;
  color: #020f1f;
}
.icon-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 15px;
  color: rgba(1, 12, 26, 0.7);
}
.icon-container p {
  font-display: 16px;
}
.fa-clock,
.fa-comment-dots {
  font-size: 24px;
}
.fa-comment-dots {
  margin-left: 30px;
}
/* ------------------------------------------------
     right-side-area style for upcoming match.html 
   -----------------------------------------------*/

.match-blogs {
  width: 312px;
  height: 242px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.match-banner {
  display: flex;
  justify-content: center;
  margin-top: 53px;
  column-gap: 20px;
}
.match-banner p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
}
.match-title {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #020f1f;
}
.match-date {
  text-align: center;
  font-size: 16px;
  color: #020f1f;
  margin-top: 10px;
}
.button-section button {
  visibility: hidden;
  background-color: red;
  color: white;
  border: 0;
  padding: 10px 20px;
}

/* ------------------
      footer style
   ---------------- */

footer {
  background: #020f1f;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  clear: both;
}
.footer-title h1 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 100px;
  margin-bottom: 30px;
}
.line hr {
  width: 70%;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-item {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  column-gap: 24px;
  color: #b9b9b9;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
.social-icon {
  padding-top: 16px;
  font-size: 30px;
  color: #ffffff;
  padding-bottom: 50px;
}
.social-icon a {
  text-decoration: none;
  color: #ffffff;
}
.icon-f:hover {
  background: #ffffff;
  color: navy;
}
.icon-t:hover {
  color: #1da1f2;
}
.icon-l:hover {
  color: #0077b0;
}
.social {
  padding-left: 16px;
}

/* -------------------------------
    Responsive Media Query for tablet Phone 
   --------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header-title h1 {
    font-size: 40px;
  }
  .header-title p {
    font-size: 14px;
    margin-bottom: 14px;
  }
  .header-title a {
    padding: 7px 10px;
  }
  .blog-section {
    width: 80%;
    margin: auto;
    margin-top: 70px;
    display: block;
  }
  .header-container {
    width: 720px;
    height: 400px;
  }
  .right-image img {
    width: 310px;
    height: 340px;
  }
  .side-container {
    background-color: #ffffff;
    height: 90%;
  }
  nav,
  nav button,
  nav a {
    flex-direction: row;
    justify-content: space-around;
    background-color: aliceblue;
    gap: 30px;
    width: 80%;
    margin-bottom: 20px;
    height: 70px;
    border-radius: 10px;
  }
  .side-container #blog-btn a {
    color: black;
  }
  .right-side-area {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
  }
  .blogs {
    width: 312px;
    height: 362px;
    border-radius: 10px;
  }
  .button-section button {
    visibility: visible;
    background-color: red;
    color: white;
    border: 0;
    padding: 10px 20px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .footer-item {
    font-size: 10px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
  }
  footer{
    width: 100%;
  }
}
/* --------------------------------------------
    Responsive Media Query for small phone
  ------------------------------------------- */
@media only screen and (max-width: 576px) {
  .header-container {
    display: block;
    background: #010c20;
    border-radius: 30px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
  .banner {
    width: 90%;
    margin: auto;
  }
  .header-title h1 {
    font-size: 40px;
    padding-top: 10px;
  }
  .header-title p {
    font-size: 14px;
    padding-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-btn {
    padding: 7px, 7px;
  }
  .header-btn {
    background-color: #0a8a9b;
  }
  .header-btn:hover {
    font-size: 16px;
    background: linear-gradient(orange, brown);
    color: #000102;
  }
  .icon:hover {
    color: azure;
  }
  .blog-section {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-left: 100px;
  }
  .right-side-area {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    justify-content: center;
  }
  .blog-section {
    width: 100%;
    display: block;
  }
  .side-container {
    background-color: #ffffff;
  }
  footer{
    width: 100%;
  }
  .footer-item {
    font-size: 10px;
    color: aliceblue;
    display: block;
    text-align: center;
    padding-bottom: 0;
    margin-top: 5px;
  }
  .footer-item p {
    padding-top: 20px;
  }
  .line {
    padding-bottom: 0;
  }
}
